body {
    background-color: aqua;
    font-family: Georgia;
}
h1 {
    font-family: Comic Sans MS;
    font-size: 60px;
    color: darkblue;
}
h4 {
    text-align: right;
    font-style: italic;
}
p {
    text-align: justify;
}
.text{
    color: #ffffff;
}
.text:hover {
    color: red;
    text-decoration: none;
}
.text1{
    text-align: center;
    color: orange;
}
.text2{
    text-align: right;
}
.text3:hover{
    background-color: blue; color: #ffffff;
    text-decoration: none;
}